.header{
    height: 34vw;
    margin: 30px auto;
    border-radius: 20px;
    overflow: hidden;
    background: url('../../assets/header_img.png') no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    z-index: 0;
  }
.header::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    z-index: 0;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    z-index: 1;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 1s;
}

.header-contents h2{
    font-weight: 500;
    align-content: center;
    color: rgb(231, 244, 247);
    font-size: max(4.5vw,22px);
}

.header-contents p{
    color: white;
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: black;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}


@media (max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}